@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,600&display=swap');

/*font-family: 'Rubik', sans-serif;*/

:root{
   

    --black: #020403;
    --grey: #ADADAD;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    
}

img{
    max-width: 100%;
}

.nav{
    display: flex;
    padding: 0.5rem 1rem;
    
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

label>img{
    width: 30px;
}

#btn-menu{
    visibility: hidden;
}

.nav-menu{
    position: absolute;
    background: var(--black);
    width: 100%;
    top: 80px;
    min-height: calc( 100vh - 80px );
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    display: flex;
    left: -100%;
    transition: left .5s linear;
}
.nav-item{
    list-style: none;
    font-size: 1.25rem;
}

.nav-item > a{
    color: white;
    text-decoration: none;
}

#btn-menu:checked ~ .nav-menu{
    left: 0;
}

.header{
    background-image: url("../images/Vectores/Rectangle 34.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 0 right -150px;
}

.header-information{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header-information h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.titulo{
    text-align: center;
}

.titulo>h2{
    color: var(--grey);
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    max-width: 350px;
    margin: 0 auto;
}

.icon{
    width: 32px;
}

.header--image{
    max-width: 350px;
}


.foto{
    height: 400px;
    width: 300px;
    border-radius: 45%;
}
.shade{
    background-color: rgb(31, 29, 29);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.circle{
    
    border: 2px solid whitesmoke;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.vector{
    
    border: 2px solid gainsboro;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 26rem;
  
  
}

.vector1{
    
    border: 2px solid gainsboro;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    right: 3rem;
  
}

.vector11{
    
    border: 2px solid gainsboro;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.vector12{
    
    border: 2px solid gainsboro;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
/**/
.section-about{
    padding: 1rem 1.5rem;
    text-align: center;
}

.skill-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    
}

.skill-card > img{
    max-width: 150px;
   

}

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h6{
    font-size: 1rem;
    
}


.section-projects{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap:2.5rem;
    }


.portafolio{
    text-align: center;
    margin-bottom: 1rem;
}

.portafolio>h6{
    text-align: center;
    
}

.underline{
    margin-top: 1.2rem;
}

.underline1{
    margin-top: 1.2rem;
}
@media screen and (min-width: 600px ) {
    .header-information{
        padding: 1rem 4.5rem;
    }

    .vector{
        margin-left: 45vw;
        top: 15rem;
    }
}

@media screen and (max-width: 600px ) {
  .titulo{
    max-width: 240px;
  }
    
}

@media screen and (min-width: 768px) {
    label{
        display: none;
    }
    .nav-menu{
        position: static;
        flex-direction: row;
        min-height: auto;
        justify-content: end;
        background-color: transparent;
    }
    .nav-item{
        padding-left: 1.25rem;
        font-size: 1rem;
    }

    .section-about{
        padding: 3rem 5rem;
        max-width: 1200px;
        margin: 0 auto;

    }

    .skill-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content:center;
        align-content:center;
        align-items: center;
        gap: 2.5rem ; 
        
    }

    .section-projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        
    }
    
    .vector{
        margin-left: 52vw;
        top: 15rem;

      
    }
    
    .vector1{
        top:15rem;
        margin-right: 4px;
      
    }

    .titulo>h1{
        font-size: 70px;
    }
    
    
}


@media  screen and (min-width: 992px) {
    
    .header{
        background-position: top 0 right 0;
    }

    .header-information{
        flex-direction: column;
    }

    .social-container{
        margin-left: 10rem;
        justify-content: space-between;
        max-width: 300px;
    }


}


.section-experience{
    padding: 2rem 1.5rem;
    text-align: center;

}

.section-container{
    
    display: grid;
    grid-template-columns: 1fr 1f 1fr;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    
}

.experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    row-gap: 2rem;
}

.experience-container > div{
    text-align: left;
}

.experience-container>img{
    width: 80px;
}



.img-container{
    padding: 0 1rem;
    
}


.img-container>img{
    position: relative;
    top: 1rem;
}

.footer-container{

    display: flex;
    flex-direction: row;
    justify-content:center;
    column-gap: 4rem;
    

}